body {
    text-align: center;
    background-color: rgb(64, 65, 112);
    color: cornsilk;
}

input {
    background-color: cornsilk;
}

form,
button {
    font-size: 1.5rem;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

p {
    text-align: center;
    font-size: 2rem;
}

.header {
    font-size: 7rem;
}

#container {
    display: flex;
    width: 90vw;
    margin: 2rem auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 30%;
    height: 40vw;
    border: 5px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 1px;
    background-color: rgb(130,104,177);
    box-shadow: 7px 7px 5px rgb(86,58,136);
}

.card-img {
    object-fit: contain;
    width: 90%;
}

